/*------------------------------------------------------------
title
------------------------------------------------------------*/


/*
------------------------------------------------------------*/
.c-title {
    font-family: $oswald-fonts;
    font-size: 4.8rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #000;
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 58px;
        height: 1px;
        background-color: #231815;
    }

    &.u-center::after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
