//baseWidth
$base-width: 1260px;

$main-fonts: "Noto Sans JP", sans-serif;
$roboto-fonts: "Roboto", sans-serif;
$oswald-fonts: "Oswald", sans-serif;
$serif-fonts: "Noto Serif JP", serif;
//color common
