/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    line-height: 1.6;
    @include sp {
        min-width: 320px;
    }
    // font-feature-settings: "palt";
}
//-------------------------------------------------------


//-------------------------------------------------------
.l-container {
    max-width: $base-width;
    width: 100%;
    margin: 0 auto;
}

.l-container__w1580 {
    width: 100%;
    max-width: 1580px;
    margin: 0 auto;
}

.l-mainvisual__inner {
    width: 100%;
    max-width: 434px;
    margin: 0 auto;
}

.l-container__w1740 {
    width: 100%;
    max-width: 1740px;
    margin: 0 auto;
}

.l-card01__inner {
    width: 100%;
    padding: 22px 22px 20px 20px;
}

.l-container__w1320 {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.l-container__w1240 {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}
