@charset 'utf-8';

//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// define
//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
@import "0_base/vars";
@import "0_base/reset";
@import "0_base/mixin";

.sp-only {
    display: none;
}
@include sp {
    .pc-only {
        display: none;
    }

    .sp-only {
        display: block;
    }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
@import "1_layout/header";
@import "1_layout/footer";
@import "1_layout/sidebar";
@import "1_layout/breadcrumb";
@import "1_layout/layout";

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
@import "2_component/01_btn";
@import "2_component/02_title";
@import "2_component/03_icon";
@import "2_component/04_form";
@import "2_component/05_text";
@import "2_component/06_navi";
@import "2_component/07_img";
@import "2_component/08_list";
@import "2_component/09_table";
@import "2_component/10_line";
@import "2_component/11_video";
@import "2_component/12_slide";
@import "2_component/99_other";

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
@import "3_project/top";
@import "3_project/about";

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
@import "0_base/utility";

.p-top {
    overflow: hidden;
}

.u-center {
    text-align: center;
}

.u-flex {
    display: flex;
}

.c-col__2 {
    width: 50%;
}

.c-col__4 {
    width: 25%;
}
// mainvisual
.c-mainvisual {
    .c-mainvisual__bg {
        background-image: url(../../assets/img/mainvisual.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 1053px;
        position: relative;
        @include pc1200 {
            height: 100vh;
            min-height: 850px;
        }
        @include sp {
            background-image: url(../../assets/img/banner-sp.jpg);
            height: auto;
            min-height: 100px;
            padding-top: 109%;
        }
    }

    .c-mainvisual__content {
        padding: 0 20px;
        background-color: rgba(255, 255, 255 , 0.5);
        position: absolute;
        top: calc(50% - -31px);
        left: calc(50% - -17px);
        transform: translate(-50%, -50%);
        text-align: center;
        @include sp {
            top: calc(50% + -17px);
            left: calc(50% + -1px);
        }
    }

    .c-mainvisual__groupImglogo {
        padding-top: 115px;
        margin-bottom: 59px;
        @include sp {
            width: 115px;
            margin: auto;
            padding-top: 57px;
            padding-bottom: 31px;
        }
    }

    .c-mainvisual__slogan {
        font-family: $serif-fonts;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2;
        color: #231815;
        margin-bottom: 40px;
        letter-spacing: -2.5px;
        transform: translate(-11px, -3px);
        @include sp {
            font-size: 1rem;
            letter-spacing: -1px;
            transform: translate(-4px, -3px);
            margin-bottom: 21px;
        }
    }

    .c-mainvisual__slogan--special {
        letter-spacing: -1.5px;
        margin-right: -6px;
        @include sp {
            letter-spacing: -0.6px;
        }
    }

    .c-mainvisual__groupImgOpen {
        padding-bottom: 81px;
        transform: translate(5px, -3px);
        @include sp {
            width: 162px;
            margin: 0 auto;
            transform: translate(10px, -4px);
            padding-bottom: unset;
        }
    }

}
// case
.c-casebg {
    background-image: url(../../assets/img/case-bg.png);
    background-repeat: no-repeat;
    background-position: 0 -20px;
}

.c-case {
    padding: 82px 0 90px;
    @include sp {
        padding: 50px 0 25px;
    }

    .c-case__title {
        font-family: $main-fonts;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.2;
        transform: translateX(16px);
        color: #000;
        margin-bottom: 30px;
        @include sp {
            font-size: 1.5rem;
            transform: unset;
            margin-bottom: 13px;
        }
    }

    .c-case__group {
        display: flex;
        justify-content: space-between;
        margin-left: -55px;
        padding: 0 20px;
        transform: translateX(20px);
        @include pc1800 {
            transform: translateX(0);
        }
        @include pc1200 {
            margin-left: -30px;
        }
        @include sp {
            padding: 0 16px;
            flex-wrap: wrap;
            max-width: 500px;
            margin: 0 auto;
        }
    }

    .c-case__item {
        width: calc(33.33% - 55px);
        margin-left: 55px;
        display: flex;
        flex-direction: column;
        @include pc1200 {
            width: calc(33.33% - 30px);
            margin-left: 30px;
        }
        @include sp {
            width: 100%;
            margin-left: 0;
            margin-bottom: 19px;
        }

        &:nth-child(1) {
            .c-case__bottom {
                margin-left: 2px;
                @include sp {
                    margin-left: 15px;
                }
            }
        }

        &:nth-child(2) {
            margin-left: 57px;
            align-items: flex-end;
            @include pc1200 {
                margin-left: 30px;
            }
            @include sp {
                margin-left: 0;
            }

            .c-case__top {
                @include sp {
                    margin-left: 0;
                    transform: translate(-8px, -1px);
                }
            }

            .c-case__bottom {
                &::before {
                    @include sp {               
                        left: calc(60% + 15px);
                        clip-path: polygon(83% 0, 15% 100%, 100% 100%);
                    }
                }
                @include sp {
                    transform: translate(0, -4px);
                }
                
            }

            .c-case__bottomSub {
                letter-spacing: -1.3px;
                @include sp {
                    letter-spacing: -1.5px;
                    left: -5px;
                    top: -9px;
                    right: unset;
                }
            }

            .c-case__bottomSubtext {
                transform: translate(-2px, -1px);
            } 

        
            .c-case__bottomContent {
                @include sp {
                    transform: translate(-3px, 0);
                }
                
            }
        }

        &:nth-child(3) {
            .c-case__bottomContent {
                letter-spacing: -0.3px;
                transform: translateX(-7px);
                @include sp {
                    transform: translateX(-4px);
                    letter-spacing: unset;
                }
            }

            .c-case__bottomSub {
                right: -7px;
                @include sp {
                    right: -6px;
                    top: -9px;
                    letter-spacing: -1px;
                }
            }

            .c-case__bottomSubtext {
                transform: translateX(2px);
                @include sp {
                    transform: translateX(1px);
                }
                
            }
        }
        
    }

    .c-case__top {
        position: relative;
        width: max-content;
        margin-left: 22px;
        @include sp {
            margin-left: 30px;
        }
    }

    .c-case__topNumber {
        font-family: $roboto-fonts;
        font-size: 21.4rem;
        font-weight: 700;
        line-height: 1;
        color: #ededed;
        @include sp {
            font-size: 14.8rem;
            
        }
    }

    .c-case__topText {
        position: absolute;
        left: 36%;
        bottom: 23%;
        font-family: $roboto-fonts;
        font-size: 2.4rem;
        color: #c7c7c7;
        letter-spacing: 0.25em;
        @include sp {
            font-size: 1.7rem;
        }
    }

    .c-case__bottom {
        max-width: 474px;
        width: 100%;
        background-color: #000;
        transform: translateY(-3px);
        border-radius: 8px;
        flex: 1;
        @include sp {
            width: calc(100% - 15px);
            margin-left: 15px;
        }
        

        &::before {
            content: "";
            display: block;
            width: 27px;
            height: 30px;
            position: absolute;
            top: -30px;
            left: calc(27% - -5px);
            clip-path: polygon(25% 0, 15% 100%, 100% 100%);
            background-color: #000;
            @include pc1200 {
                top: -25px;
                left: calc(23% + 5px);
            }
            @include sp {
                top: -20px;
                left: calc(23% + 15px);
                width: 23px;
                height: 26px;
                clip-path: polygon(28% 0, 15% 100%, 100% 100%);
            }
        }
    }

    .c-case__bottomContent {
        font-family: $main-fonts;
        font-size: 2.4rem;
        color: #fff;
        padding: 39px 10px;
        font-feature-settings: "palt";
        transform: translateX(-3px);
        @include sp {
            font-size: 1.65rem;
            padding: 27px 10px;
            transform: translateX(-1px);
        }
    }

    .c-case__bottomSub {
        position: absolute;
        right: -9px;
        top: -13px;
        background-color: #7a89a8;
        color: #fff;
        font-family: "Noto Serif JP", serif;
        font-weight: 400;
        font-size: 1.8rem;
        width: 212px;
        height: 35px;
        border-radius: 20px;
        text-align: center;
        @include sp {
            font-size: 1.3rem;
            width: 146px;
            height: 25px;

        }
    }
}

// detail case
.c-detail {
    padding-top: 36px;
    @include sp {
        padding-bottom: 2px;
    }

    .c-detail__title {
        font-family: $main-fonts;
        font-size: 3.4rem;
        font-weight: 400;
        color: #231815;
        transform: translateX(20px);
        line-height: 1;
        margin-bottom: 17px;
        @include pc1200 {
            font-size: 3rem;
            transform: unset;
        }
        @include sp {
            font-size: 1.3rem;
            max-width: 230px;
            margin: 0 auto;
            line-height: 1.23;
            transform: translate(1px, 0);
        }

        .c-detail__title--spec {
            font-family: $serif-fonts;
            font-size: 4.6rem;
            font-weight: 400;
            color: #252a6d;
            margin-left: 4px;
            @include sp {
                font-size: 1.7rem;
                display: inline-block;
                transform: translate(-3px, 1px);
                letter-spacing: 0.02em;
            }

        }
    }

    .c-detail__subtitle {
        font-family: $oswald-fonts;
        font-size: 4.8rem;
        font-weight: 400;
        color: #000;
        letter-spacing: 0.097em;
        transform: translateX(20px);
        margin-bottom: 64px;
        @include sp {
            font-size: 1.25rem;
            padding-top: 5px;
            letter-spacing: 0.053em;
            transform: unset;
            margin-bottom: 31px;
        }
    }

    .c-merit__group {
        flex-direction: column;
        padding: 0 20px;
        
    }

    .c-merit__item {
        justify-content: space-between;
        margin-bottom: 94px;
        @include sp {
            flex-direction: column;
            max-width: 500px;
            margin: auto;
        }

        &:nth-child(3) {
            @include sp {
                .c-merit__ContentImg {
                    transform: translate(17px, -23px);
                }

                .c-merit__contentGroup {
                    margin-left: 58px;
                }

                .c-merit__itemTitle--spec {
                    margin-left: -3px;
                    margin-right: -2px;

                }
            }
            
            .c-merit__itemTitle {
                margin-top: -3px;
                margin-bottom: 32px;
                @include sp {
                    margin-bottom: 16px;
                }

                &::after {
                    top: calc(-18% - 6px);
                    right: calc(-13% - 0px); 
                }
            }       

            .c-merit__itemText {
                max-width: 531px;
                @include sp {
                    max-width: 261px;
                    letter-spacing: -0.01em;
                }
            }
        }
    }

    .c-merit__item--reverse {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 91px;
        @include sp {
            flex-direction: column;
            padding-top: 36px;
            margin-bottom: 53px;
        }

        .c-merit__images {
            margin-left: 27px;
            @include sp {
                margin-left: inherit;
                padding-top: 14px;
            }
        }

        .c-merit__ContentImg {
            transform: translate(59px, -28px);
            @include pc1200 {
                transform: translate(30px, -28px);
            }
            @include sp {
                transform: translate(17px, -7px);

            }
        }

        .c-merit__contentGroup {
            transform: translate(33px, -14px);
            @include pc1500 {
                transform: unset;
            }
            @include sp {
                margin-left: 58px;
            }
        }

        .c-merit__itemTitle {
            margin-bottom: 32px;
            @include sp {
                margin-bottom: 16px;
            }

            .c-merit__itemTitle--spec {
                margin-left: -7px;
                margin-right: -8px;
                @include sp {
                    margin-left: -4px;
                    margin-right: -4px;
                }
            }

            &::after {
                top: calc(-21% - 6px);
                right: calc(-17% - 2px);
            }
        }

        .c-merit__itemText {
            max-width: 522px;
            @include sp {
                max-width: 260px;
                letter-spacing: -0.01em;
            }
        }
    }

    .c-merit__itemContent {
        // flex: 1;
    }

    .c-merit__ContentImg {
        transform: translate(25px, -29px);
        @include sp {
            width: 45px;
            transform: translate(23px, -20px);
        }
    }

    .c-merit__contentGroup {
        margin-left: 108px;
        transform: translateY(-14px);
        @include pc1200 {
            margin-left: 30px;
        }
        @include sp {
            margin-left: 64px;
        }
    }

    .c-merit__images {
        width: 44%;
        max-width: 531px;
        @include sp {
            width: calc(100% - 44px);
            margin: 0 auto;
            margin-top: 1px;
        }
    }

    .c-merit__itemTitle {
        font-family: $main-fonts;
        font-size: 2.8rem;
        font-weight: 700;
        color: #231815;
        line-height: 1;
        margin-bottom: 30px;
        position: relative;
        max-width: max-content;
        @include sp {
            font-size: 1.4rem;
            margin-bottom: 16px;
        }

        .c-merit__itemTitle--spec {
            font-size: 3.6rem;
            color: #252a6d;
            margin-left: -6px;
            margin-right: -5px;
            @include sp {
                font-size: 1.8rem;
                margin-left: -2px;
                margin-right: -3px;
            }
        }

        &::after {
            content: "";
            display: block;
            width: 42px;
            height: 35px;
            position: absolute;
            top: calc(-22% - 6px);
            right: calc(-11% - 0px);
            transform: translate(-50%, -50%);
            background-image: url(../assets/img/icon_merit_text.png);
        }
    }

    .c-merit__itemText {
        font-family: $main-fonts;
        font-size: 2.1rem;
        font-weight: 400;
        color: #231815;
        letter-spacing: 0.033em;
        max-width: 510px;
        line-height: 1.61;
        @include sp {
            font-size: 1.1rem;
            letter-spacing: -0.02em;
            line-height: 1.53;
            max-width: 250px;
        } 
    }
}

// recommend

.c-recommend {
    padding-top: 70px;

    .l-container__w1740 {
        position: relative;
        background-color: #ededed;
    }

    .c-recommend__img {
        position: absolute;
        top: calc(1% - 23px);
        left: calc(25% - -1px);
        transform: translate(-50%, -50%);
        @include pc1500 {
            left: 1%;
            top: -19%;
            transform: unset;
        }
        @include pc1200 {
            max-width: 400px;
        }
        @include sp {
            max-width: 216px;
            top: unset;
            left: unset;
            bottom: calc(-5% - 8px);
            right: calc(0% + -4px);
        }
    }

    .c-recommend__groupTitle {
        position: absolute;
        top: calc(2% - -7px);
        right: calc(-21% + 9px);
        transform: translate(-50%, -50%);
        @include pc1500 {
            right: 1%;
            top: -9%;
            transform: unset;
        }
        @include sp {
            right: calc(5% - 5px);
            top: calc(-1% - 13px);
        }

    }

    .c-recommend__title {
        font-family: $oswald-fonts;
        font-size: 8.3rem;
        font-weight: 400;
        color: #000;
        letter-spacing: 0.1em;
        line-height: 1.19;
        margin-bottom: -10px;
        @include pc1500 {
            font-size: 7.5rem;
        }
        @include pc1200 {
            font-size: 5.9rem;
        }
        @include sp {
            font-size: 3.1rem;
            letter-spacing: 0.09em;
            margin-bottom: -2px;
        }

    }

    .c-recommend__subtitle {
        font-family: $main-fonts;
        font-size: 3.4rem;
        font-weight: 400;
        color: #231815;
        text-align: right;
        @include pc1200 {
            font-size: 3rem;
        }
        @include sp {
            font-size: 1.3rem;
        }

        .c-recommend__subtitle--spec {
            font-family: $serif-fonts;
            font-weight: 400;
            font-size: 4.6rem;
            color: #252a6d;
            margin-left: -8px;
            @include sp {
                font-size: 1.7rem;
                transform: translate(4px, 0);
                display: inline-block;
            }
        }
    }

    .c-card__body {
        padding: 148px 20px 77px;
        max-width: 1660px;
        margin: 0 auto;
        @include sp {
            padding: 74px 11px 117px;
        }
    }

    .c-card01__row {
        display: flex;
        padding: 0 20px;
        gap: 25px;
        @include pc1500 {
            padding: unset;
        }
        @include sp {
            flex-wrap: wrap;
            gap: 9px;
        }
        
    }

    .c-card01__item {
        &:nth-child(3) {
            @include sp {
                .l-card01__inner {
                    padding: 10px 8px;
                }

                .c-card01__img {
                    padding: 0 2px;
                }

                .c-card01__title {
                    transform: translate(2px, 0);
                    margin-bottom: 3px;
                    
                }

                .c-card01__text.c-card01__textsp {
                    display: block;
                }

                .c-card01__text {
                    padding-left: 3px;
                    display: none;
                }
            }
        }

        &:nth-child(4) {
            .c-card01__text.c-card01__textsp {
                display: block;
            }

            .c-card01__text {
                display: none;
            }
        }
        @include sp {
            width: calc(49% - 1px);
            margin-bottom: 6px;
        }
        

    }

    .l-card01__inner {
        background-color: #fff;
        height: 100%;
    }

    .c-card01__title {
        font-family: $main-fonts;
        font-size: 2.3rem;
        font-weight: 400;
        color: #231815;
        margin-top: 17px;
        margin-bottom: 7px;
        // transform: translateX(-2px);
        @include sp {
            font-size: 1.1rem;
            margin-top: 7px;
            margin-bottom: 2px;
        }

    }

    .c-card01__text.c-card01__textsp {
        display: none;
    }

    .c-card01__text {
        font-family: $main-fonts;
        font-size: 1.9rem;
        font-weight: 300;
        color: #231815;
        max-width: 325px;
        line-height: 1.42;
        margin-bottom: 24px;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        overflow-y: hidden;
        padding-left: 2px;
        @include pc1200 {
            -webkit-line-clamp: 9;
        }
        @include sp {
            font-size: 1rem;
            letter-spacing: -0.051em;
            width: calc(100% - 4px);
            line-height: 1.3;
            padding-left: 1px;
            margin-bottom: 7px;
        }
    }
}

.c-form {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 115px;
    @include sp {
        padding: 61px 28px 42px;
    }
}


// design
.c-design {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 111px;
    position: relative;
    @include sp {
        padding-bottom: 43px;
    }

    &::before {
        position: absolute;
        content: "";
        max-width: 1205px;
        width: 63%;
        height: 527px;
        background-color: #ededed;
        right: 0;
        top: calc(42% - 4px);
        z-index: -1;
        @include sp {
            width: 52%;
            height: 257px;
            top: calc(24% - 2px);
        }
    }

    .c-design__slider {
        width: 96%;
        max-width: 1440px;
    }

    .c-design__sliderContent {
        margin-bottom: 36px;
        @include sp {
            margin-bottom: 11px;
        }
    }

    .c-design__img {
        width: 100%;
        height: 683px;
        object-fit: cover;
        @include sp {
            height: 201px;
        }
    }

    .c-control {
        display: flex;
        justify-content: flex-end;
        @include sp {
            margin-right: 2px;
        }
    }

    .c-control__item {
        cursor: pointer;
        @include sp {
            width: 32px;
        }
    }

    .c-control__itemPre {
        margin-right: 20px;
        @include sp {
            margin-right: 11px;
        }
    }

    .c-design__body {
        max-width: 1600px;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        padding-left: 30px;
        padding-right: 84px;
        @include pc1500 {
            padding-left: 20px;
            padding-right: 20px; 
        }
        @include sp {
            flex-direction: column;
            padding-left: 15px;
            padding-right: 15px;
        }

    }

    .c-design__content {
        max-width: 655px;
        @include pc1500 {
            width: 60%;
            margin-right: 30px;
        }
        @include sp {
            width: 100%;
        }
    }

    .c-design__title {
        transform: translate(14px, -24px);
        margin-bottom: 2px;
        @include sp {
            transform: translate(17px, 1px);
        }

        &::after {
            margin-top: 14px;
            @include sp {
                margin-top: 7px;
            }
        }
    }

    .c-design__subtitle {
        font-family: $main-fonts;
        font-size: 2.7rem;
        font-weight: 400;
        line-height: 1.37;
        color: #231815;
        margin-left: 14px;
        margin-bottom: 36px;
        @include sp {
            font-size: 1.4rem;
            margin-left: 16px;
            margin-bottom: 16px;
            margin-top: 14px;
            letter-spacing: -0.033em;
        }
    }

    .c-design__text {
        font-family: $main-fonts;
        font-size: 1.9rem;
        font-weight: 300;
        line-height: 1.79;
        color: #231815;
        margin-left: 14px;
        @include sp {
            font-size: 1rem;
            line-height: 1.77;
            margin-left: 15px;
            transform: translate(1px, 0);
        }
    }

    .c-design__video {
        width: 702px;
        height: 391px;
        margin-top: 103px;
        @include sp {
            width: 100%;
            max-width: 303px;
            max-height: 168px;
            margin: 48px auto 0;
        }
    }
    
    
}

.c-plan {
    padding-bottom: 93px;
    @include sp {
        padding-bottom: 69px;
    }

    .c-plan__title {
        transform: translateX(6px);
        margin-bottom: 87px;
        @include sp {
            transform: unset;
            margin-bottom: 30px;
        }
    }

    .c-plan__title.c-title.u-center::after {
        bottom: -13px;
        @include sp {
            bottom: -6px;
        }
    }

    .c-plan__design {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        position: relative;
        margin-bottom: 76px;
        @include sp {
            padding: 0 5px;
            margin-bottom: 47px;
        }
        
    }

    .c-plan__imageItem {
        position: relative;

        &:nth-child(1) {
            transform: translate(44px, 2px);
            @include pc1800 {
                transform: translate(0, 0);
            }
            @include sp {
                transform: translate(6px, -1px);
            }

            .c-plan__designImgNumber {
                bottom: -29px;
                left: calc(5% - -1px);
                @include sp {
                    bottom: -26px;
                }
            }
        }

        &:nth-child(2) {
            transform: translate(86px, 8px);
            @include pc1800 {
                transform: translate(0, 0);
            }

            .c-plan__designImgNumber {
                bottom: -23px;
                left: calc(5% + 3px);
                @include sp {
                    bottom: -29px;
                    left: calc(16% + 2px);
                }
            }
        }
    }

    .c-plan__designImgNumber {
        position: absolute;
        @include sp {
            width: 26px;
            height: 26px;
        }
    }

    .c-plan__parameter {
        display: flex;
        justify-content: center;
        transform: translateX(12px);
        margin-bottom: 91px;
        @include pc1200 {
            transform: unset;
        }
        @include sp {
            flex-direction: column;
            align-items: center;
            margin-bottom: 15px;
        }
        
    }

    .c-plan__parameterItem {
        display: flex;
        font-family: $main-fonts;
        font-size: 2.2rem;
        font-weight: 300;
        color: #231815;
        font-feature-settings: "palt";
        margin-left: 41px;
        @include sp {
            font-size: 1.2rem;
            margin-left: 0;
            line-height: 1.75;
        }

        &:nth-child(1) {
            margin-left: 0;

            .c-plan__parameterNumber {
                margin-left: 27px;
                @include sp {
                    margin-left: 12px;
                }
            }
        }

    }

    

    .c-plan__parameterNumber {
        margin-left: 21px;
        @include sp {
            margin-left: 10px;
        }
    }

    .c-plan__specifical {
        padding: 0 20px;
        margin-left: 5px;
        @include sp {
            padding: 0 15px;
            margin-left: 0;
        }
    }

    .c-plan__specificalItem {
        display: flex;
        border-bottom: 1px solid #cbcbcb;
        padding-bottom: 5px;
        padding-top: 24px;
        @include sp {
            padding-bottom: 1px;
            padding-top: 12px;
            align-items: center;
        }

        &:nth-child(1) {
            .c-plan__specificalContent {
                letter-spacing: 0.05em;
            }
        }

        &:nth-child(3) {
            @include sp {
                padding-top: 2px;
                padding-bottom: 4px;
            }
        }

        &:nth-child(4) {
            @include sp {
                padding-top: 4px;
                padding-bottom: 8px;
            }
        }

    }

    .c-plan__specificalTitle {
        font-family: $main-fonts;
        font-size: 2.5rem;
        font-weight: 300;
        color: #231815;
        width: 23%;
        font-feature-settings: "palt";
        padding-left: 10px;
        @include sp {
            font-size: 1.3rem;
            padding-left: 5px;
            width: 34%;
            min-width: 98px;
        }

    }

    .c-plan__specificalContent {
        font-family: $main-fonts;
        font-size: 2.5rem;
        font-weight: 300;
        color: #231815;
        padding-left: 13px;
        @include sp {
            font-size: 1.3rem;
            padding-left: 10px;
        }
    }

    .c-specifical__tagItem {
        border: 1px solid #cbcbcb;
        border-radius: 3px;
        margin-right: 19px;
        @include sp {
            display: inline-flex;
            align-items: center;
            margin-right: 4px;
        }

    }

    .c-plan__specificaltag {
        @include sp {
            max-width: 222px;
            padding-left: 6px;
            margin-bottom: 2px;
        }
    }

    .c-plan__tag5 {
        &:nth-child(1) {
            padding: 3px 3px 3px 7px;
            @include sp {
                padding: 3px 3px 3px 7px;
                transform: translate(-1px, 2px);
            }

            .c-specifical__tagText {
                letter-spacing: 0.04em;
                @include sp {
                    letter-spacing: 0;
                }
            }
        }

        &:nth-child(2),
        &:nth-child(3) {
            padding: 7px 14px 9px 18px;
            @include sp {
                padding: 3px 5px 3px 7px;
            }
        }

        &:nth-child(4) {
            padding: 7px 14px 9px;
        }

        &:nth-child(5) {
            padding: 7px 18px 9px 14px;
        }
        @include sp {
            &:nth-child(2) {
                transform: translate(-1px, 2px);
            }

            &:nth-child(3) {
                transform: translate(0, -4px);
            }

            &:nth-child(4) {
                padding: 3px 5px 4px;
                transform: translate(0, -4px);
            }

            &:nth-child(5) {
                padding: 3px 5px;
                transform: translate(-5px, -4px);
            }
        }

        
    }

    .c-plan__tag3 {
        padding: 7px 16px 9px 17px;
        @include sp {
            padding: 3px 6px 4px;
        }

        &:nth-child(2) {
            padding: 7px 13px 9px 19px;
            @include sp {
                padding: 3px 6px;
            }
        }
    }

    .c-specifical__tagText {
        font-family: $main-fonts;
        font-size: 2rem;
        font-weight: 300;
        color: #231815;
        font-feature-settings: "palt";
        line-height: 2.1;
        @include sp {
            font-size: 0.9rem;
            line-height: 1;
        }
    }

}

.c-finance {
    padding-top: 82px;
    padding-bottom: 110px;
    background-color: #ededed;
    @include sp {
        padding-top: 29px;
        padding-bottom: 62px;
    }

    .c-finance__title {
        transform: translateX(14px);
        margin-bottom: 72px;
        @include sp {
            transform: unset;
            margin-bottom: 36px;
        }
    }

    .c-title::after {
        bottom: -14px;
        @include sp {
            bottom: -7px;
        }
    }

    .c-finance__subtitle {
        width: 100%;
        max-width: 410px;
        height: 65px;
        display: flex;
        margin: 0 auto;
        align-items: center;
        background-color: #231815;
        transform: translateX(17px);
        margin-bottom: 46px;
        @include sp {
            max-width: 205px;
            height: 33px;
            transform: unset;
            margin-bottom: 23px;
        }
    }

    .c-finance__subtitleText {
        font-family: $main-fonts;
        font-size: 3rem;
        font-weight: 400;
        color: #fff;
        width: 100%;
        text-align: center;
        transform: translate(0, -6px);
        letter-spacing: 0.02em;
        @include sp {
            font-size: 1.5rem;
            transform: translate(0, -4px);
        }
    }

    .c-finance__row {
        display: flex;
        justify-content: space-between;
        padding: 0 22px;
        @include sp {
            flex-direction: column;
            padding: 0 36px;
        }
    }

    .c-finance__item {
        width: 48%;
        max-width: 605px;
        background-color: #fff;
        @include sp {
            width: 100%;
            margin-bottom: 28px;
            margin: 0 auto 28px;

            &:nth-child(2) {
                margin-bottom: 0;

                .c-finance__inner {
                    padding-bottom: 50px;
                }
            }
        }
    }

    .c-finance__inner {
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
        padding: 100px 10px 55px;
        position: relative;
        @include sp {
            max-width: 237px;
            padding: 49px 10px 26px;
        }
    }

    .c-finance__content {
        font-family: $main-fonts;
        font-size: 2.2rem;
        font-weight: 400;
        color: #231815;
        letter-spacing: -0.5px;
        margin-bottom: 25px;
        @include sp {
            font-size: 1.1rem;
            letter-spacing: -0.02em;
            margin-bottom: 13px;
        }
    }

    .c-finance__itemTitle {
        font-family: $main-fonts;
        font-size: 2.6rem;
        font-weight: 700;
        color: #231815;
        transform: translate(5px, -5px);
        @include sp {
            font-size: 1.3rem;
            padding-top: 4px;
        }

    }

    .c-finance__cost {
        font-family: $main-fonts;
        font-size: 9rem;
        font-weight: 700;
        color: #7a89a8;
        line-height: 1.2;
        letter-spacing: -0.03em;
        margin-bottom: 26px;
        @include sp {
            font-size: 4.5rem;
            margin-bottom: 13px;
            margin-top: -3px;
        }

        .c-finance__unit {
            font-size: 3.6rem;
            margin-left: 10px;
            @include sp {
                font-size: 1.8rem;
                margin-left: 7px;
                display: inline-block;
                transform: translate(0, 3px);
            }
        }
    }

    .c-finance__text {
        font-family: $main-fonts;
        font-size: 2.2rem;
        font-weight: 400;
        color: #231815;
        @include sp {
            font-size: 1.1rem;
            letter-spacing: 0.01em;
        }
    }

    .c-finance__costbubble {
        position: absolute;
        top: -5%;
        right: -26.6%;
        display: flex;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #7a89a8;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @include pc1500 {
            right: -10%;
        }
        @include pc1200 {
            right: -3%;
        }
        @include sp {
            width: 100px;
            height: 100px;
            right: -23%;
        }

        &::before {
            position: absolute;
            content: "";
            border-bottom: 46px solid #7a89a8;
            border-left: 16px solid transparent;
            border-right: 21px solid transparent;
            top: 156px;
            left: 6px;
            transform: rotate(-129deg) translate(19px, -1px);
            transform: rotate(-129deg) translate(19px, -1px);
            @include sp {
                top: 66px;
                left: 7px;
            }  
        }
    }

    .c-finance__payment,
    .c-finance__paymentunit {
        font-family: $main-fonts;
        font-size: 3.2rem;
        font-weight: 700;
        color: #fff;
        line-height: 1;
        @include sp {
            font-size: 1.6rem;
        }
    }

    .c-finance__paymentnumber {
        display: inline-block;
        transform: translate(-4px, -6px);
        @include sp {
            transform: translate(-2px, -1px);
        }
    }

    .c-finance__paymentunit {
        display: inline-block;
        transform: translate(4px, -16px);
        @include sp {
            transform: translate(2px, -6px);
        }
    }

    .c-finance__paymentnumber {
        font-family: $main-fonts;
        font-size: 9.6rem;
        font-weight: 700;
        color: #fff;
        line-height: 1;
        @include sp {
            font-size: 4.8rem;
        }
    }
}

.c-web {
    margin-bottom: 108px;
    @include sp {
        margin-bottom: 62px;
    }

    .l-container__w1240 {
        padding: 0 20px 0 24px;
        @include sp {
            padding: 0 21px 0 22px;
        }
    }

    .c-web__title {
        font-family: $main-fonts;
        font-size: 3.4rem;
        font-weight: 400;
        color: #231815;
        margin-top: 54px;
        letter-spacing: -0.03em;
        transform: translateX(24px);
        margin-bottom: 16px;
        @include sp {
            font-size: 1.7rem;
            transform: unset;
            margin-top: 36px;
            margin-bottom: 7px;

        }

        .c-web__title--spec {
            font-family: $serif-fonts;
            font-size: 4.6rem;
            font-weight: 400;
            color: #252a6d;
            letter-spacing: 0.26em;
            margin-left: -6px;
            @include sp {
                font-size: 2.3rem;
                display: inline-block;
                transform: translate(3px, 0);
            
            }
        }
    }

    .c-web__subtitle {
        font-family: $main-fonts;
        font-size: 2.7rem;
        font-weight: 300;
        color: #231815;
        line-height: 1.37;
        transform: translateX(20px);
        margin-bottom: 73px;
        @include sp {
            font-size: 1.4rem;
            transform: unset;
            letter-spacing: -0.03em;
            margin-bottom: 35px;
        }

        .c-web__subtitle--spec01 {
            letter-spacing: 0.01em;
            @include sp {
                letter-spacing: -0.03rem;
            }
        }

        .c-web__subtitle--spec02 {
            transform: translateX(5px);
            display: block;
            @include sp {
                transform: translateX(3px);
                letter-spacing: -0.03em;
            }
        }
    }
}

.c-grid01 {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    transform: translateX(16px);
    
    margin-bottom: 122px;
    @include pc1800 {
        transform: translateX(0);
    }
    @include sp {
        flex-wrap: wrap;
        padding: 0 21px;
        margin-bottom: 40px;
    }

    .c-grid01__item {
        margin-right: 65px;
        width: 100%;
        max-width: 287px;
        background-color: #565f64;
        padding: 40px 10px;
        text-align: center;
        position: relative;
        @include pc1500 {
            margin-right: 30px;
        }
        @include sp {
            width: 43%;
            margin-right: 16px;
            padding: 6px 10px;
            margin-bottom: 24px;

        }
        
        &:first-child {
            background-color: #231815;

            .c-grid01__itemTitle {
                // transform: translate(-11px, 0);
            }

            &::after {
                @media screen and (min-width: 1801px) {
                    right: calc(-16% - -4px) !important;
                }
                
            }
        }

        &:last-child {
            margin-right: 0;
            background-color: #7a89a8;
        }

        &:not(:last-child)::after {
            position: absolute;
            content: "";
            border-left: 8px solid #000;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            right: calc(-15% - -4px);
            top: calc(50% - -3px);
            transform: translate(-50%, -50%);
            @include pc1500 {
                right: -18px;
                transform: translate(0%, -50%);
            }
            @include sp {
                border-left: 4px solid #000;
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                top: calc(50% + 2px);
            }
        }

    }

    .c-grid01__iconGroup {
        padding-top: 16px;
        min-height: 60px;
        margin-bottom: 5px;
        @include sp {
            padding-top: 16px;
            min-height: 25px;
            margin-bottom: 1px;
        }
    }

    .c-grid01__icon {
        width: 42px;
        height: 28px;
        fill: #fff;
        stroke: transparent;
        @include sp {
            width: 20px;
            height: 14px;
        }
    }

    .c-grid01__iconNewsletter {
        transform: translate(-2px, 0);
    }

    .c-grid01__iconUser {
        width: 42px;
        height: 35px;
        transform: translate(2px, -6px);
        @include sp {
            width: 19px;
            height: 19px;
            transform: translate(2px, 0);
        }
    }

    .c-grid01__iconNotes {
        height: 32px;
        @include sp {
            height: 20px;
            width: 17px;
            transform: translate(0, 3px);
        }
    }

    .c-grid01__iconExplan {
        height: 31px;
        width: 34px;
        transform: translate(-1px, 1px);
        @include sp {
            height: 15px;
            width: 21px;
            transform: translate(0, 1px);
        }
    }

    .c-grid01__iconGift {
        width: 42px;
        height: 32px;
        transform: translate(-4px, -1px);
        @include sp {
            width: 20px;
            height: 20px;
            transform: translate(-3px, 2px);
        }
    }
    
    .c-grid01__itemTitle {
        font-family: $main-fonts;
        font-size: 2.1rem;
        font-weight: 400;
        color: #fff;
        width: calc(100% - 27px);
        margin: 0 auto;
        padding-bottom: 6px;
        border-bottom: 1px solid #fff;
        @include sp {
            font-size: 1.1rem;
            width: calc(100% - 4px);
            padding-bottom: 3px;
        }
    }

    .c-grid01__itemText {
        font-size: 1.6rem;
        font-family: $main-fonts;
        font-weight: 400;
        color: #fff;
        padding-top: 9px;
        padding-bottom: 8px;
        @include sp {
            font-size: 0.8rem;
            padding-top: 5px;
            padding-bottom: 17px;
        }
    }

    

}

.c-web__box {
    .c-box__top {
        background-color: #000;
        padding-top: 56px;
        padding-bottom: 43px;
        @include pc1200 {
            padding: 56px 20px 43px;
        }
        @include sp {
            padding: 25px 20px 32px;
        }

    }

    .c-box__groupTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        @include sp {
            flex-direction: column;
        }
    }

    .c-box__btn {
        background-color: #fff;
        display: flex;
        width: 241px;
        height: 52px;
        border-radius: 25px;
        align-items: center;
        justify-content: center;
        margin-right: 41px;
        @include sp {
            width: 120px;
            height: 26px;
            margin-right: 0;
        }
    }

    .c-box__btnText {
        font-family: $main-fonts;
        font-size: 2.33rem;
        font-weight: 700;
        color: #231815;
        @include pc1200 {
            font-size: 2rem;
        }
        @include sp {
            font-size: 1.2rem;
        }
    }

    .c-box__title {
        font-family: $main-fonts;
        font-size: 3.2rem;
        font-weight: 300;
        letter-spacing: 0.082em;
        color: #fff;
        transform: translate(0, 1px);
        font-feature-settings: "palt";
        padding-right: 15px;
        @include pc1200 {
            font-size: 2.8rem;
        }
        @include sp {
            font-size: 1.6rem;
            padding-right: 0;
            line-height: 1.17;
            margin-top: 7px;

            .c-box__title--unline {
                display: block;
            }
        }
    }

    .c-box__text {
        font-family: $main-fonts;
        font-size: 2rem;
        font-weight: 300;
        color: #fff;
        letter-spacing: 0.084em;
        padding-top: 12px;
        font-feature-settings: "palt";
        @include pc1200 {
            font-size: 1.7rem;
        }
        @include sp {
            font-size: 1rem;
            padding-top: 11px;
            line-height: 1.6;

            .c-box__text--unline {
                display: block;
            }
        }
    }

    .c-grid02 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 206px;
        padding: 36px 34px 39px;
        text-align: center;
        border: 1px solid #c7c7c7;
        border-top: unset;
        @include pc1800 {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
        @include sp {
            grid-template-columns: 157px auto;
            padding: 36px 20px 37px;
        }
    }

    .c-grid02__item {
        border-right: 1px solid #000;
    }

    
    @include sp {
        .c-grid02__image {
            width: 64px;
        }

        .c-grid02__item:nth-child(2) .c-grid02__image {
            width: 60px;
        }

        .c-grid02__item:nth-child(3) .c-grid02__image {
            width: 61px;
        }

        .c-grid02__item:nth-child(4) .c-grid02__image {
            width: 54px;
        }

        .c-grid02__item:nth-child(5) .c-grid02__image {
            width: 79px;
        }

        .c-grid02__item:nth-child(6) .c-grid02__image {
            width: 92px;
        }

        .c-grid02__item:nth-child(7) .c-grid02__image {
            width: 71px;
        }

        .c-grid02__item:nth-child(8) .c-grid02__image {
            width: 76px;
        }

        .c-grid02__item:nth-child(9) .c-grid02__image {
            width: 58px;
        }

        .c-grid02__item:nth-child(10) .c-grid02__image {
            width: 72px;
        }
    }
    

    .c-grid02__item:nth-child(1) {
        .c-grid02__icon {
            padding-top: 28px;
            padding-bottom: 20px;
            @include sp {
                padding-top: 18px;
                padding-bottom: 13px;
            }
        }
    }

    .c-grid02__item:nth-child(2) {
        .c-grid02__icon {
            padding-top: 24px;
            padding-bottom: 24px;
            @include sp {
                padding-top: 14px;
                padding-bottom: 16px;
                transform: translate(-2px, 0);
            }
        }

        .c-grid02__text {
            @include sp {
                transform: translate(-2px, 0);
            }
        }
    }

    .c-grid02__item:nth-child(3) {
        .c-grid02__icon {
            padding-top: 21px;
            padding-bottom: 6px;
            @include sp {
                padding-top: 11px;
                padding-bottom: 13px;
                transform: translate(3px, 0);
            }
        }
    }

    .c-grid02__item:nth-child(4) {
        .c-grid02__icon {
            padding-top: 56px;
            padding-bottom: 27px;
            @include sp {
                padding-top: 15px;
                padding-bottom: 16px;
                transform: translate(-2px, 0);
            }
        }

        .c-grid02__text {
            @include sp {
                padding-bottom: 15px;
            }
        }
    }

    .c-grid02__item:nth-child(5) {
        .c-grid02__icon {
            padding-top: 25px;
            padding-bottom: 13px;
            transform: translateX(3px);
            @include sp {
                padding-top: 20px;
                padding-bottom: 6px;
                transform: translateX(4px);
            }
        }

        .c-grid02__text {
            transform: translateX(4px);
            @include sp {
                padding-bottom: 2px;
            }
        }
        

    }

    .c-grid02__item:nth-child(6) {
        .c-grid02__icon {
            padding-top: 18px;
            transform: translate(-6px, 0);
            padding-bottom: 23px;
            @include sp {
                padding-top: 42px;
                transform: translate(-1px, 0);
                padding-bottom: 19px;
            }
        }

        .c-grid02__text {
            transform: translate(-7px, 0);
        }
    }

    .c-grid02__item:nth-child(7) {
        .c-grid02__icon {
            padding-top: 24px;
            transform: translate(-6px, 0);
            padding-bottom: 25px;
            @include sp {
                padding-top: 12px;
                transform: translate(4px, 0);
                padding-bottom: 11px;
            }
        }

        .c-grid02__text {
            transform: translate(-7px, 0);
            padding-bottom: 12px;
            @include sp {
                padding-bottom: 15px;
            }
        }
    }

    .c-grid02__item:nth-child(8) {
        .c-grid02__icon {
            padding-top: 24px;
            transform: translate(-7px, 0);
            padding-bottom: 17px;
            @include sp {
                padding-top: 12px;
                transform: translate(-1px, 0);
                padding-bottom: 10px;
            }
        }

        .c-grid02__text {
            transform: translate(-8px, 0);
        }
    }

    .c-grid02__item:nth-child(9) {
        .c-grid02__icon {
            padding-top: 24px;
            padding-bottom: 15px;
            @include sp {
                padding-top: 18px;
                padding-bottom: 9px;
                transform: translate(13px, 0);   
            }
        }

        .c-grid02__text {
            transform: translate(-8px, 0);
        }
    }

    .c-grid02__item:nth-child(10) {
        .c-grid02__icon {
            padding-top: 26px;
            transform: translate(3px, 0);
            padding-bottom: 5px;
            @include sp {
                padding-top: 29px;
                transform: translate(-11px, 0);
                padding-bottom: 5px;
            }
        }

        .c-grid02__text {
            transform: translate(4px, 0);
            @include sp {
                padding-bottom: 15px;
            }
        }
    }

    .c-grid02__item:nth-child(-n+5) {
        border-bottom: 1px solid #000;
    }

    .c-grid02__item:nth-child(5n) {
        border-right: unset;
    }

    .c-grid02__text {
        font-size: 1.5rem;
        font-family: $main-fonts;
        font-weight: 400;
        color: #231815;
        line-height: 1.55;
        font-feature-settings: "palt";
        transform: translate(-6px, 0);
        margin-bottom: 30px;
        @include sp {
            font-size: 0.9rem;
            margin-bottom: 17px;
            transform: translate(2px, 0);
        }
    }

    .c-grid02__icon {
        transform: translate(-6px, 0);
        @include sp {
            transform: translate(4px, 0);
        }
    }
}

.c-access {
    width: 100%;
    display: flex;
    background-color: #ededed;
    @include sp {
        flex-direction: column;
    }

    .c-access__map {
        width: 50%;
        @include pc1200 {
            width: calc(50% - 30px);
        }
        @include sp {
            width: 100%;
            height: 290px;
        }
    }

    .c-access__info {
        flex: 1;
    }

    .c-access__head {
        margin-bottom: 80px;
    }

    .c-access__title {
        padding-top: 121px;
        transform: translate(-30px, 0);
        @include sp {
            padding-top: 24px;
            transform: translate(10px, 0);
        }
    }

    .c-access__title.c-title::after {
        width: 75px;
        bottom: -3px;
        left: calc(50% - 3px);
    }

    .c-access__subtitle {
        text-align: center;
        font-family: $main-fonts;
        font-size: 2.8rem;
        font-weight: 300;
        color: #000;
        padding-top: 22px;
        transform: translate(-30px, 0);
        @include sp {
            font-size: 1.4rem;
            padding-top: 12px;
            transform: translate(10px, 0);
        }
    }

    .c-access__content {
        width: 100%;
        max-width: 511px;
        margin: 0 auto;
        padding-bottom: 118px;
    }

    .c-access__item {
        display: flex;
        transform: translate(-44px, 0);
        margin-bottom: 12px;
        @include pc1500 {
            transform: unset;
        }

        &:nth-child(1) {
            .c-access__desc {
                transform: translate(1px, -3px);
            }

            .c-access__desc--fixspacing {
                font-feature-settings: "palt";
                letter-spacing: 0.04em;
                margin-left: 13px;
            }
        }

        &:nth-child(2) {
            .c-access__desc {
                transform: translate(0, -2px);
            }
        }

        &:nth-child(3) {
            .c-access__desc {
                letter-spacing: 0.024em;
            }
        }
    }

    .c-access__property {
        font-family: $main-fonts;
        font-size: 2.5rem;
        font-weight: 400;
        color: #fff;
        flex: 1;
        max-width: 120px;
        margin-right: 21px;
        background-color: #565f64;
        text-align: center;
        line-height: 1;
        max-height: 47px;
        padding: 11px 0;
        @include sp {
            font-size: 1.3rem;
        }
        
    }

    .c-access__property--center {
        display: inline-block;
        transform: translate(2px, -2px);
    }

    .c-access__desc {
        font-family: $main-fonts;
        font-size: 2.5rem;
        font-weight: 400;
        color: #000;
        max-height: 47px;
        align-self: center;
        line-height: 1;
        @include sp {
            font-size: 1.3rem;
        }
    }

    .c-access__note {
        font-family: $main-fonts;
        font-size: 1.5rem;
        font-weight: 400;
        color: #000;
        text-align: center;
        width: 100%;
        transform: translate(52px, -3px);
        @include sp {
            font-size: 0.8rem;
        }
    }
}




