<footer class="c-footer">
  <div class="l-container__w1240">
    <div class="c-footer__form01">
        <picture>
          <img src="./assets/img/footer__form.png" alt="絶対オトク！1,000円分のQUOカードプレゼント" class="c-footer__form01Img">
        </picture>
    </div>
    <div class="c-footer__form02">
      <div class="c-footer__form02Content">
        <h2 class="c-footer__form02Title">CONTACT FORM</h2>
      </div>
    </div>
  </div>
  <div class="c-footer__logo">
    <picture>
      <img src="./assets/img/footer__logo.png" alt="Coco logo" class="c-footer__logoImg">
    </picture>
  </div>
</footer>